name: Lint otoge codebase

on:
  pull_request:
    paths:
      - "**"
      - "!data/**"
  push:
    branches:
      - "main"
    paths:
      - "**"
      - "!data/**"

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install rust toolchain
        run: cargo version

      - name: Cache rust artifacts
        uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2
        with:
          shared-key: test
          save-if: ${{ github.ref == 'refs/heads/main' }}

      - name: Lint otoge
        run: |
          cargo check
          cargo clippy -- -D warnings
