name: Run otoge-fetcher

on:
  workflow_dispatch:
  schedule:
    # Run everyday at 12PM JST (3AM UTC)
    - cron: "0 3 * * *"

jobs:
  update-songs:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Install rust toolchain
        run: cargo version

      - name: Cache rust artifacts
        uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2
        with:
          shared-key: build
          save-if: false

      - name: Run otoge-fetcher
        run: cargo run --release --bin otoge-fetcher

      - name: Resolve current date
        run: |
          echo "CURRENT_DATE=$(TZ=Asia/Tokyo date +%Y-%m-%d)" >> "$GITHUB_ENV"

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v8.1.0
        with:
          token: ${{ secrets.FLUXCIBOT_PAT }}
          committer: FluxCI bot <automated@thitat.net>
          author: FluxCI bot <automated@thitat.net>
          commit-message: "data: song database update for ${{ env.CURRENT_DATE }}"
          title: "Song database update for ${{ env.CURRENT_DATE }}"
          body: |
            There are updates to the song database.

            *This update is auto-generated.*
          branch: auto/otoge-fetcher
          reviewers: fluxth
