name: Run otoge-fetcher

on:
  workflow_dispatch:
  schedule:
    # Run everyday at 12PM JST (3AM UTC)
    - cron: '0 3 * * *'

jobs:
  update-songs:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Install rust toolchain
        run: cargo version

      - name: Cache rust artifacts
        uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1 # v2.8.1
        with:
          shared-key: build
          save-if: false

      - name: Run otoge-fetcher
        run: cargo run --release --bin otoge-fetcher

      - name: Resolve current date
        run: |
          echo "CURRENT_DATE=$(TZ=Asia/Tokyo date +%Y-%m-%d)" >> "$GITHUB_ENV"

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7
        with:
          token: ${{ secrets.FLUXCIBOT_PAT }}
          committer: FluxCI bot <automated@thitat.net>
          author: FluxCI bot <automated@thitat.net>
          commit-message: 'data: song database update for ${{ env.CURRENT_DATE }}'
          title: 'Song database update for ${{ env.CURRENT_DATE }}'
          body: |
            There are updates to the song database.

            *This update is auto-generated.*
          branch: auto/otoge-fetcher
          reviewers: fluxth
